<!DOCTYPE html>
<html>
  <head>
      <script src="character.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Character List </h1>
      <%=characterList%>

    <form action="/character/new" method="get">
      <input type="submit" value="New Char">
    </form>
  </body>
</html>
