<!DOCTYPE html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Exo|Righteous" rel="stylesheet">
    <link rel="stylesheet" href="../global.css">

    <title></title>
  </head>
  <body ng-app="characterCreation" ng-controller="character">

    <h1> Character List </h1>

    {{char.name}}
    <br>
    xp: {{char.xp}}
    <br>
    attack: {{char.attack}}
    <br>
    defence: {{char.defence}}
    <br>
    HP: {{char.hp}}

    <form action="/choose-character" method="get">
      <input type="hidden" name="id" value="{{char._id}}">
      <input class="btn1" type="submit" value="To Battle">
    </form>

    <br>
    <button class="btn1" ng-click="getPrevChar()">Get prev Char</button>
    <button class="btn1" ng-click="getNextChar()">Get next Char</button>
    <br>



    <form action="/character/new" method="get">
      <input class="btn1" type="submit" value="New Char">
    </form>
    <script>

    </script>
    <script src="../app.js"></script>
    <script src="../listView.js"></script>
  </body>
</html>
