<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <%- partial('partials/styles') %>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Exo|Righteous" rel="stylesheet">
  <link rel="stylesheet" href="../global.css">
  <link href="../hover-min.css" rel="stylesheet">

</head>
<header>
  <%- partial('partials/signOut') %>
</header>
<body>
<h2>Create a new character</h2>
 <form action="/create" method="post">
  Name:<input type="text" name="name">
  <br>
  <br>
  Attack:<input ng-model="attack" type="number" name="attack">
  <br>
  <br>
  Defence:<input ng-model="defend" type="number" name="defence">
  <br>
  <br>
  <p>You have only 10 attributes between attack and defence to spend</p>
  <span ng-if="attack+defend == 10 && attack*defend > -1">
    
    <input id="btn1" class="hvr-buzz" type="submit" value="submit" name="submit">

</span>


</form>
</body>
</html>
