<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" href="./stylesheets/animation.css">  </head>
  <body>
    <table>
      <tr>
        <th><img src="../public/assets/test_sprite.png" alt="hero" class="character"></th>
        <th width="150" rowspan="2"></th>
        <th><img src="../public/assets/baddie_sprite.png" alt="enemy" class="enemy"></th>
      </tr>
      <tr>
        <th><div class="shadow"></div></th>
        <th><div class="shadow right"></div></th>
      </tr>
    </table>
  </body>
</html>
