body {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  text-align: center;
}

table {
  word-wrap: break-word;
  margin: auto;
}

h1 {
  font-size: 350%;
  background-color: #eaa110 ;
}
.btn1 {
  background-color: #eaa110 ;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

#battle-one {
  position: absolute;
  left: -14%;
  background-color: black;
  color: white;
  padding: 3px 15px;
  font-weight: bold;
  margin: 350px;
  box-shadow: 5px 5px 5px #033b96 ;
  border-radius: 50px;
}

#battle-two {
  position: absolute;
  left: 11%;
  background-color: black;
  color: white;
  padding: 3px 12px;
  font-weight: bold;
  margin: 300px;
  box-shadow: 5px 5px 5px #7a020e ;
  border-radius: 50px;
}

#battle-three {
  position: absolute;
  left: 23%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 380px;
  box-shadow: 5px 5px 5px #004c05 ;
  border-radius: 50px;
}

#battle-four {
  position: absolute;
  left: 8%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 660px;
  box-shadow: 5px 5px 5px #89110b ;
  border-radius: 50px;
}

#battle-five {
  position: absolute;
  left: 52%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 475px;
  box-shadow: 5px 5px 5px #004c05 ;
  border-radius: 50px;
}

#battle-six {
  position: absolute;
  left: 56%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 320px;
  box-shadow: 5px 5px 5px #043a91 ;
  border-radius: 50px;
}

#battle-seven {
  position: absolute;
  left: 44%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 280px;
  box-shadow: 5px 5px 5px #0d4222 ;
  border-radius: 50px;
}

#battle-eight {
  position: absolute;
  left: 35%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 165px;
  box-shadow: 5px 5px 5px #fc5b05 ;
  border-radius: 50px;
}

#battle-four {
  position: absolute;
  left: 8%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 600px;
  box-shadow: 5px 5px 5px #89110b;
}

#battle-five {
  position: absolute;
  left: 55%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 430px;
  box-shadow: 5px 5px 5px #004c05;
}

#battle-six {
  position: absolute;
  left: 56%;
  background-color: black;
  color: white;
  padding: 3px 8px;
  font-weight: bold;
  margin: 300px;
  box-shadow: 5px 5px 5px #004c05;
}

.btn1:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}

.btn1[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

.rightButt{
  position: relative;
  bottom:133px;
  left:140px;
}

.leftButt{
  position: relative;
  bottom:133px;
  right:130px;
}
