<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="../animation.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</script>
</head>
<body>
  <h2>BATTLE</h2>
  <div ng-app="" ng-init="p1HP= <%= battle.firstPlayer.hp %> ; p2HP= <%= battle.secondPlayer.hp %>">
    <table>
      <tr>
        <th><img src="/assets/test_sprite.png" alt="hero" class="character"></th>
        <th width="30%" rowspan="3">
          <form class="" action="/attack" method="post">
            <input type="hidden" name='battle' value={{battle.firstPlayer}}>
            <button type="submit">ATTACK</button>
          </form>
      </th>
        <th><img src="/assets/baddie_sprite.png" alt="enemy" class="enemy"></th>
      </tr>
      <tr>
        <th><div class="shadow"></div>
        </th>
        <th><div class="shadow right"></div>
        </th>
      </tr>
      <tr>
        <th>
          <p><%= battle.firstPlayer.name %></p>
          <p>HP: {{p1HP}}</span></p>
        </th>
        <th>
          <p><%= battle.secondPlayer.name %></p>
          <p>HP: {{p2HP}}</span></p>
        </th>
      </tr>
    </table>
  </div>
</body>
</html>
