<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Exo|Righteous" rel="stylesheet">
    <link rel="stylesheet" href="../global.css">

    <title></title>
  </head>
  <body>
    <h1>YOU LOSE</h1>
    <a href="/map">Back to Battle Map</a>
  </body>
</html>
