<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    YOU WIN
    <p>You have been rewarded with:</p>
    <p><%= reward.xpOutcome %> xp</p>
    <p><%= reward.attackOutcome %> attack points</p>
    <p><%= reward.defenceOutcome %> defence points</p>
    <a href="/map">Back to Battle Map</a>
  </body>
</html>
